.instructor-details-table {
    display: grid;
    
    .header {
        color: #3f3f3f;
        font-size: small;
        font-weight: 600;
    }
    tbody {
        th {
            text-align: left;
            padding: 1%;
        }
        .chip-color-peach {
            background-color: #ff8f895e;
            color: #eb5757;
        }
        .MuiChip-label {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .chip-color-blue {
            background-color: #3366cc2d;
            color: #3366CC;
        }
        td {
            padding: 1%;
        }
    }
}
