.advisor-page {
  padding: 50px;
  background-color: #ffffff;

  .advisor-details {
    display: flex;

    .advisor_image {
      width: 300px;
      padding: 20px;
      .advisor_img {
        width: 270px;
        object-fit: fill;
      }
    }
    .advisor_about {
      width: 350px;
      padding: 20px;

      .advisor_about_text {
        width: 350px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      .advisor-card__stars {
        display: flex;
        margin-top: 4px;

        .advisor-card__star {
          font-size: 30px; // Adjust size as needed
          color: #d0d0d0; // Default color for empty stars

          &.filled {
            color: #ffcc00; // Golden color for filled stars
          }
        }

        &:hover {
          transform: scale(1.02);
        }

        &__header {
          display: flex;
          width: 100%;
        }

        &__image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-right: 16px;
        }

        &__info {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &__name {
          margin: 0;
          font-size: 18px;
          font-weight: bold;
        }

        &__title,
        &__experience,
        &__minutes,
        &__candidates {
          margin: 4px 0;
          font-size: 14px;
          color: #555;
        }

        &__additional {
          width: 100%;
          margin-top: 16px;
        }

        &__footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 8px;
        }

        &__rate {
          font-weight: bold;
          font-size: 16px;
        }

        &__connect {
          background-color: #eb5757;
          color: #fff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #d64e4e;
          }
        }
      }

      .advisor_about_text_paragraph {
        width: 350px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #747474;
        margin-top: 0px;
        margin-bottom: 10px;
      }
    }
    .social-media {
      gap: 20px;
    }
  }
  .social-media {
    gap: 20px;
  }
  .divider {
    color: #ebebeb;
    border: 1px solid;
    margin-right: 20px;
  }
  .advisor_description {
    margin-top: 20px;

    .advisor_about_text {
      width: 350px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-align: left;
      color: #000000;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .advisor_about_text_paragraph {
      width: 350px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-align: left;
      color: #747474;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
  .divider2 {
    color: #ebebeb;
    border: 1px solid #ebebeb;
    width: 1200px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }

  //   =========================Analytics==========================================
  .analytics {
    h1 {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      width: 837px;
    }
    .analytics_container {
      width: 900px;
      height: 80px;
      top: 452px;
      left: 295px;
      gap: 13px;
      opacity: 0px;
      //   border: 2px solid rebeccapurple;
      display: flex;

      .anaytics_data {
        width: 270.67px;
        height: 68px;
        border-radius: 12px;
        padding: 12px;
        gap: 17px;
        color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        h4 {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          color: #0e0f1d;
        }
        h5 {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          color: #5f5f5f;
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ebebeb; // Adjust color and width as needed
  }

  //   =================================================education

  .experience {
    height: 183px;
    display: flex;
    margin-top: 100px;

    .education {
      width: 70%;
      display: flex;
      h3 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        position: relative;
        top: -23px;
        left: 22px;
      }
      .addIcon {
        position: relative;
        color: #808080;
        left: 70%;
      }
      .education_details {
        position: relative;
        right: 103px;
      }
      .education_fields {
        height: 36px;
        margin-top: 30px;

        h4 {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: left;
          margin-bottom: -27px;
        }
        h5 {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }
        button {
          position: relative;
          left: 440px;
          bottom: 68px;
          margin-top: 15px;
          background-color: #eb5757;
          border-radius: 8px;
          padding: 4px, 8px, 4px, 8px;
          color: white;
          border-color: #eb5757;
        }
      }
    }

    // ==============================================work experience
    .work_experience {
      width: 70%;
      display: flex;

      h3 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        position: relative;
        top: -23px;
        left: 36px;
        width: 178px;
      }
      .addIcon {
        position: relative;
        color: #808080;
        left: 70%;
      }
      .work_experience_details {
        position: relative;
        right: 150px;
      }
      .work_experience_fields {
        height: 36px;
        margin-top: 30px;

        h4 {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: left;
          margin-bottom: -14px;
        }
        h5 {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }
        button {
          position: relative;
          left: 490px;
          bottom:132px;
          margin-top: 15px;
          background-color: #eb5757;
          border-radius: 8px;
          padding: 4px, 8px, 4px, 8px;
          color: white;
          border-color: #eb5757;
        }
      }
    }
  }

  //time slots

  .time_slots {
    margin-top: 10px;
    position: relative;
    left: 3px;

    .heading {
      width: 70%;
      display: flex;

      h3 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        position: relative;
        top: 0px;
        left: 17px;
      }
      .addIcon {
        position: relative;
        color: #808080;
        position: relative;
        top: 24px;
        left: 30%;
      }
    }
  }
  // calender

  .calendar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    .calendar_selection {
      display: flex;
      gap: 20px;
    }
    .container_date_text{
      display: flex;
      gap: 10px;

      .fromDate_text,.toDate_text{
        width: 24%;
      }

    }
    .selected_dates {
      display: flex;
      gap: 10px;

      .fromDate , .toDate {
        width: 24%;
        
        button {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: gray;
        border: 1px solid #3DA817;
        padding: 5px;
        border-radius: 9px;
        width: max-content;
      }}
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ebebeb; // Adjust color and width as needed
  }
}
