// SignUpPage.scss
.signup-page {
  .signup-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background: #eb5757; // Example background color
    color: #fff;
    padding-right: 5%;
    .signup-header-container {
      display: flex;
      .signup-header {
        width: 25%;
        align-self: center;
        h1 {
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  .signup-form {
    right: 8%;
    top: 3%;
    position: fixed;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    .title {
      display: flex;
      justify-content: space-between;
      color: #000;
      .appname {
        color: #eb5757;
      }
      .no-acc-title {
        font-size: 0.8rem;
        color: #8d8d8d;
        .signup-link {
          color: #eb5757;
          text-decoration: none;
        }
      }
    }
    h1 {
      margin-top: 0;
      color: #000;
    }
    form {
      display: flex;
      flex-direction: column;
      color: #000;
      .inline-input {
        display: flex;
        justify-content: space-between;
      }
      input {
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;

        &::placeholder {
          color: #999;
        }

        &:focus {
          outline: none;
          border-color: #555; // Example focus color
        }
      }

      button[type="submit"] {
        padding: 0.75rem;
        background: #db3d44; // Replace with actual button color from design
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 15px;
        &:hover {
          background: darken(#db3d44, 10%);
        }
      }
      label {
        margin-bottom: 8px;
      }
      .signup-link {
        color: #eb5757;
        font-weight: 400;
        margin-bottom: 15px;
        font-size: 0.8rem;
      }
    }
  }
}

// Media queries for responsive adjustments
@media (max-width: 768px) {
  .signup-container {
    padding: 1rem;
  }

  .signup-form {
    width: 90%;
  }
}
