.preview-card {
    .preview-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #334d6e;
    }
    .card {
        margin: 2% 0 3%;
        background-color: #fcfafa;
        // background-color: #fafafa;
        // border-color: #FAFAFA;
    }
}