body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  /* src: url('./static/assets/css/Poppins/Poppins-Regular.ttf'); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, #root {
  height: 100%;
}

h2 {
  font-family: 'Poppins';
}
.cta {
  color: #FFF;
  background-color: #EB5757;    
  border: 1px solid #a6b1af;   
    
}
.cta:hover {
  background-color: #e34d4dde;
}   