.section_1 {
  font-family: poppins;
  display: flex;
  background-color: #F8F9FA;

  .add_credits {
    width: 50%;
    position: relative;
    left: 10%;
    margin-top: 3%;
    font-family: poppins;

    h1 {
      font-size: 36px;
      color: #333333;
      font-weight: 600;
    }
    h2 {
      font-size: 24px;
      color: #333333;
      font-weight: 400;
    }
    .amount_container {
      width: 70%;
      border: 2px solid #eff8ff;
      background-color: white;
      box-shadow: 5px 5px 5px #aaaaaaa7;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      padding: 50px;
     
    }
    button{
        width: 100px;
        border-radius: 5px;
        margin-left: 34px;
        height:38px;
        background-color: #EFF8FF;
        border-color: #EFF8FF;
        gap:50px;
        margin:40px;
        margin-left: 10px;
        box-shadow: 2px 5px  #aaaaaaa7;
        font-family: poppins;
        font-weight: 600;
    }
  }

  .amount_section {
    width: 50%;
    position: relative;
    left: 10%;
    margin-top: 7%;
    font-family: poppins;
    margin-bottom: 50px;

    img{
        margin-bottom: 10%;
    }
    .amount_input{
        position: relative;
        font-family: poppins;
        border: none;
        background-color: #F8F9FA;
        height: 50px;
        font-size:24px;
        right:214px;
       
          
    } .amount_input:focus {
        outline: none; /* Removes the default outline */
        border: 1px solid #ccc; /* Keeps the border consistent */
      }
    .custom-hr {
        border: none; 
        border-top: 1px solid #ccc;
        margin: 10px 0;
        width: 40%; 

      }

      .amount_section_buttons{
        display: flex;
        margin-top: 10%;
        gap:10px;

        .cancel{
            height: 54px;
            width: 167px;
            border-radius: 10px;
            background-color: #F8F9FA;
            border: none;
            color:#EB5757;
            cursor: pointer;
        }
        .submit{
            height: 54px;
            width: 167px;
            border-radius: 10px;
           background-color: #EB5757;
           cursor: pointer;
           border: none;
           color:white;

        }
      }
  }
}
